# Local secret folder
internal/


# Build outputs
dist/
.temp/

# OS files
.DS_Store
Thumbs.db


# 拦截环境配置文件（包含敏感信息）

.env
*.local

# 拦截 IDE 相关配置

.vscode/
.idea/


# 拦截 Node.js 依赖（如果是 JS 项目）

node_modules/
npm-debug.log*

# 拦截日志文件

*.log
logs/